<header class="mx-auto w-screen max-w-screen-2xl px-6 sm:px-7 xl:px-8 2xl:px-10 py-6">
    {{/* CSS functionality for menu toggle */}}
    <style type="text/css">
        input#nav-toggle:checked~label#show-button {
            display: none;
        }

        input#nav-toggle:checked~label#hide-button {
            display: flex;
        }

        input#nav-toggle:checked~#nav-menu {
            display: block;
        }
    </style>

    <nav class="flex items-center justify-between flex-wrap">
        <a href="{{ .Site.Home.Permalink }}" class="flex items-center text-slate-800 dark:text-slate-200 font-bold">
            {{ .Site.Title }}
        </a>

        <input id="nav-toggle" type=checkbox class="hidden">
        <label id="show-button" for="nav-toggle"
            class="flex items-center sm:hidden text-slate-600 dark:text-slate-400 hover:text-sky-500">
            <svg class="fill-current h-4 w-4" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <title>Menu Open</title>
                <path d="M0 3h20v2H0V3z m0 6h20v2H0V9z m0 6h20v2H0V0z" />
            </svg>
        </label>
        <label id="hide-button" for="nav-toggle" class="items-center hidden text-gray-700 hover:text-blue-500">
            <svg class="fill-current h-4 w-4" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <title>Menu Close</title>
                <polygon points="11 9 22 9 22 11 11 11 11 22 9 22 9 11 -2 11 -2 9 9 9 9 -2 11 -2"
                    transform="rotate(45 10 10)" />
            </svg>
        </label>

        <ul id="nav-menu" class="sm:flex w-full sm:w-auto hidden mt-2 sm:mt-0 sm:space-x-2">
            <li>
                <a href="/README.html" class="hover:text-sky-500 dark:hover:text-sky-500">About</a>
            </li>
            <li>
              <a href="/news/" class="hover:text-sky-500 dark:hover:text-sky-500">News</a>
            </li>
            <li>
                <label class="sr-only">Theme</label>
                <button class="theme-toggle" id="theme-toggle" title="Toggles light & dark" aria-label="auto" aria-live="polite" onclick="toggleTheme()">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                    class="theme-toggle__half-sun"
                    height="1em"
                    width="1em"
                    viewBox="0 0 32 32"
                    fill="currentColor"
                  >
                    <path d="M27.5 11.5v-7h-7L16 0l-4.5 4.5h-7v7L0 16l4.5 4.5v7h7L16 32l4.5-4.5h7v-7L32 16l-4.5-4.5zM16 25.4V6.6c5.2 0 9.4 4.2 9.4 9.4s-4.2 9.4-9.4 9.4z" />
                  </svg>
                </button>
            </li>
        </ul>
    </nav>

    <script>
        var themeDarkIcon = document.getElementById("theme-toggle-dark");
        var themeLightIcon = document.getElementById("theme-toggle-light");
        var themeSystemIcon = document.getElementById("theme-toggle-system");

        function setThemeVisibility(themeParameter) {
            switch (themeParameter) {
                case "system":
                    themeSystemIcon.classList.toggle("hidden");
                    break;
                case "light":
                    themeLightIcon.classList.toggle("hidden");
                    break;
                case "dark": themeDarkIcon.classList.toggle("hidden");
            }
        }

        function changeTheme() {
            if (themeSystemIcon.classList.contains("hidden") == false) {
                themeSystemIcon.classList.toggle("hidden");
                themeLightIcon.classList.toggle("hidden");
                localStorage.setItem("color-theme", "light");
                document.documentElement.classList.remove('dark');
            } else if (themeLightIcon.classList.contains("hidden") == false) {
                themeLightIcon.classList.toggle("hidden");
                themeDarkIcon.classList.toggle("hidden");
                localStorage.setItem("color-theme", "dark");
                document.documentElement.classList.add('dark');
            } else if (themeDarkIcon.classList.contains("hidden") == false) {
                themeDarkIcon.classList.toggle("hidden");
                themeSystemIcon.classList.toggle("hidden");
                localStorage.removeItem("color-theme");
                if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
                    document.documentElement.classList.add('dark');
                }
            } else {
                /* default fallback to system preference */
                themeSystemIcon.classList.remove("hidden");
                themeLightIcon.classList.add("hidden");
                themeDarkIcon.classList.add("hidden");
                localStorage.removeItem("color-theme");
                if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
                    document.documentElement.classList.add('dark');
                }
            }
        }

        function setupThemeIndicator() {
            /* load theme variable from local storage */
            if (localStorage.getItem("color-theme") === "dark") {
                var themeParameter = "dark";
            } else if (localStorage.getItem("color-theme") === "light") {
                var themeParameter = "light";
            } else {
                var themeParameter = "system";
            }

            setThemeVisibility(themeParameter);
        }

        window.onload = setupThemeIndicator;
    </script>
</header>