*.swp
*/plugins/*/main.js
*/plugins/*/manifest.json
*/plugins/*/styles.css
*sync-conflict*
*~
.DS_Store
.frontmatter
.nextcloudsync.log
.sync_*
.trash
.vscode
graph.json
node_modules
old
public
workspace*
schema.docs.graphql
.vite
.claude
repomix
