<!DOCTYPE html>
<html lang="en-us">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ page.data.title }}</title>
<meta name="author" content="{{ page.data.metas.author }}" />
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "name": "{{ page.data.title }}",
    "description": "{{- page.data.description -}}"
}
</script>
<link rel="stylesheet" href="/assets/site.css" />
<script src="/assets/scroll-toggle.js" inline></script>
{{- for x of page.data.scripts }}
<script src="{{ x }}" inline></script>
{{ /for -}}
</head>
<body>
<header class="site">
<span class="logo">
  <a href="/" class="logo" aria-label="Commonhaus Foundation Home">
    <img src="/images/cf_logo_horizontal_reverse.svg" inline>
  </a>
</span>
<nav aria-label="Site">
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
      <div class='menu-button'></div>
    </label>
    <ul class="top-level">
    {{ for x of page.data.menu }}
        <li class="item" aria-label="{{ x.title }}" >
          <span class="entry">
            <a href="{{ x.href }}" aria-haspopup="true">{{ x.title }}</a>
            <span aria-hidden="true" class="h-site-more">{{ page.data.svg.down }}</span>
          </span>
          <ul class="submenu" aria-label="{{ x.submenu.label }}">
          {{ for y of x.submenu.children }}
              <li><a href="{{ y.href }}">{{ y.title }}</a></li>
          {{ /for }}
          </ul>
        </li>
    {{ /for }}
    </ul>
</nav>
</header>
<main {{ if page.data.cssclasses }} class="{{ page.data.cssclasses  |> join(' ') }}"{{ /if }}>
{{ content -}}
</main>
<footer class="site">
  <div class="footer-copyright">
  Copyright © <a href="/">Commonhaus Foundation</a>. All rights reserved. <!-- The Commonhaus Foundation has registered trademarks and uses trademarks. For a list of trademarks of the Commonhaus Foundation, please see our <a href="/policies/trademark-policy/">Trademark Policy</a> and <a href="/trademarks/">Trademark List</a>. Trademarks and logos not indicated on the list of Commonhaus Foundation trademarks are trademarks™ or registered® trademarks of their respective holders. Use of them does not imply any affiliation with or endorsement by them. -->
  </div>
  <nav class="footer-nav" aria-label="Policies">
    <ul class="footer-links">
      <li><a href="https://www.commonhaus.org">Commonhaus Foundation</a></li>
      <li><a href="https://www.commonhaus.org/policies/code-of-conduct/">Code of Conduct</a></li>
      <li><a href="https://www.commonhaus.org/bylaws/">Bylaws</a></li>
      <li><a href="https://www.commonhaus.org/policies/trademark/">Trademark Policy</a></li>
      <li><a href="https://www.commonhaus.org/trademark/">Trademark List</a></li>
    </ul>
  </nav>
</footer>
</body>
</html>