<!DOCTYPE html>
<html lang="en-us">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ page.data.title }}</title>
<meta name="author" content="{{ page.data.metas.author }}" />
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "name": "{{ page.data.title }}",
    "description": "{{- page.data.description -}}"
}
</script>
<script src="/assets/anchors.js" inline></script>
<link rel="stylesheet" href="/assets/site.css" />
{{- for x of page.data.scripts }}
<script src="{{ x }}" inline></script>
{{ /for -}}
</head>
<body onload="adjustAnchors();">
<header class="site">
<h1>
    <a href="/" class="logo" aria-label="Commonhaus Foundation Home">
        <span aria-hidden="true" class="h-site-tiny">CF</span>
        <span aria-hidden="true" class="h-site-med">Commonhaus</span>
        <span aria-hidden="true" class="h-site-lrg">Commonhaus Foundation</span>
    </a>
</h1>
<nav aria-label="Site">
    <ul class="top-level">
    {{ for x of page.data.menu }}
        <li>
            <a href="{{ x.href }}" aria-label="{{ x.title }}" aria-haspopup="true">
                <span aria-hidden="true" class="h-site-icon">{{ page.data.svg[x.icon] }}</span>
                <span aria-hidden="true" class="h-site-text">{{ x.title }}</span>
            </a>
            <span aria-hidden="true" class="h-site-more">{{ page.data.svg.down }}</span>
            <ul class="submenu" aria-label="{{ x.submenu.label }}">
            {{ for y of x.submenu.children }}
                <li><a href="{{ y.href }}">
                    <span aria-hidden="true" class="h-site-sub-icon">{{ page.data.svg[y.icon] }}</span>
                    <span>{{ y.title }}</span>
                    </a>
                </li>
            {{ /for }}
            </ul>
        </li>
    {{ /for }}
    </ul>
</nav>
</header>
<main {{ if page.data.cssclasses }} class="{{ page.data.cssclasses  |> join(' ') }}"{{ /if }}>
{{ content -}}
</main>
<footer class="site">
  <div class="footer-copyright">
  Copyright © <a href="/">Commonhaus Foundation</a>. All rights reserved. <!-- The Commonhaus Foundation has registered trademarks and uses trademarks. For a list of trademarks of the Commonhaus Foundation, please see our <a href="/policies/trademark-policy/">Trademark Policy</a> and <a href="/trademarks/">Trademark List</a>. Trademarks and logos not indicated on the list of Commonhaus Foundation trademarks are trademarks™ or registered® trademarks of their respective holders. Use of them does not imply any affiliation with or endorsement by them. -->
  </div>
  <nav class="footer-nav" aria-label="Policies">
    <ul class="footer-links">
      <li><a href="https://www.commonhaus.org">Commonhaus Foundation</a></li>
      <li><a href="https://www.commonhaus.org/policies/code-of-conduct/">Code of Conduct</a></li>
      <li><a href="https://www.commonhaus.org/bylaws/">Bylaws</a></li>
      <li><a href="https://www.commonhaus.org/policies/trademark/">Trademark Policy</a></li>
      <li><a href="https://www.commonhaus.org/trademark/">Trademark List</a></li>
    </ul>
  </nav>
</footer>
</body>
</html>