---
title: Default page title
language: en
layout: layouts/base.vto
metas:
  robots: false
---
<section aria-labelledby="sectionTitle">
<h1 id="sectionTitle">{{ title }}</h1>

{{ content }}

</section>
