---
title: Default page title
language: en
layout: layouts/base.vto
---
<article>
{{ content }}
<footer class="byline">
  <div class="posted">last updated <time datetime="{{ page.data.date |> date('DATE') }}">{{ page.data.date |> date('d MMMM yyyy') }}</time></div>
  <a href="{{ github }}" class="github">GitHub</a>
</footer>
</article>
