---
title: Default page title
language: en
layout: layouts/base.vto
---
<article aria-labelledby="articleTitle">
<heading>
<h1 id="articleTitle">{{ title }}</h1>
</heading>
{{ content }}
<footer>
</footer>
</article>
