---
title: Default page title
language: en
layout: layouts/base.vto
---
<article>
{{ content }}
<footer class="footer">
  <span class="posted">Last updated <time datetime="{{ page.data.date |> date('DATE') }}">{{ page.data.date |> date('d MMMM yyyy') }}</time></span>
</footer>
</article>

<aside class="test-contents">
  Aside (toc)
  <nav aria-label="Test Navigation" class="index">
    <ul>
      {{- for item of toc }}
      <li>
        <a href="#{{ item.slug }}">{{ item.text }}</a>
        {{- if item.children.length }}
          <ol>
            {{- for child of item.children }}
            <li>
              <a href="#{{ child.slug }}">{{ child.text }}</a>
            </li>
            {{- /for }}
          </ol>
        {{- /if }}
      </li>
      {{- /for }}
    </ul>
  </nav>
</aside>
