@use 'index' as *;

.indented {
  padding-left: 1em;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  align-items: stretch;
  margin-top: 1em;

  &.wide {
    margin-bottom: 2.5em;
  }

  &.wrapped {
    flex-direction: row;
    flex-wrap: wrap; // Allow the cards to wrap onto multiple lines
    justify-content: space-between; // Distribute cards evenly in the container
    align-items: flex-start; // Align items to the top
  }

  h3 {
    font-size: var(--font-large);
    @include figtree-medium;
    margin: 0;
    padding: 0;
  }

  h4, h5 {
    font-size: var(--font-medium);
    @include figtree-medium;
    margin: 0;
    padding: 0;
  }

  .logo > a {
    text-align: center;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;

    .text-content {
      display: flex;
      flex-direction: column;
      align-self: stretch;
      align-items: flex-start;
      gap: .5em;

      p {
        margin: 0;
        padding: 0;
      }
    }

    &.wide {

      .logo {
        max-width: 70%;
        height: 100px;
        margin: auto;

        img {
          width: auto;
          height: 100px;
        }
      }

      .wordmark {
        font-weight: 700;
        font-size: 50px;
      }

      .text-content {
        flex: 1;
      }
    }

    &.two {
      width: 300px;
      max-width: 300px;
      align-items: start; // Align items to the top

      .logo {
        width: 300px;
        max-width: 300px;
        height: 150px;
        display: flex;
        justify-content: center;

        img {
          width: auto;
          height: 150px;
          object-fit: contain;
        }
      }
    }

    &.three {
      width: 200px;
      max-width: 200px;
      align-items: start; // Align items to the top

      .logo {
        width: 200px;
        max-width: 200px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-content: center;

        img {
          width: auto;
          height: 100px;
          object-fit: contain;
        }
      }
    }

    &.profile {
      width: 300px;
      max-width: 300px;
      flex-direction: row; // Make the image and text be side by side
      align-items: start; // Align items to the top
      gap: 1em; // Add some space between the image and text

      .avatar,
      .avatar-flip {
        min-width: 75px;
        min-height: 75px;
        width: 75px;
        height: 75px;
        position: relative;
      }

      .avatar-flip {
        transition: transform 0.8s;
        transform-style: preserve-3d;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 33%; // This makes the image round
        object-fit: cover; // This ensures the image covers the whole area
      }

      .avatar-front,
      .avatar-back {
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
      }

      .avatar-back {
        transform: rotateY(180deg);
      }

      &:hover .avatar-flip {
        transform: rotateY(180deg);
      }

      .text-content {
        align-items: flex-start;
      }

      footer {
        font-size: var(--font-small);
      }
    }
  }
}

a.dark-only {
  display: none;
}

a.light-only {
  display: block;
}

.dark {
  a.dark-only {
    display: block;
  }

  a.light-only {
    display: none;
  }
}