body {
  --fern-green: #4D7343;
  --fern-green-rgb: 77, 115, 67;
  --fern-green-hsl: 108, 26, 36;

  --asparagus: #78A658;
  --asparagus-rgb: 120, 166, 88;
  --asparagus-hsl: 95, 31, 50;

  --yellow-green: #A9D962;
  --yellow-green-rgb: 169, 217, 98;
  --yellow-green-hsl: 84, 61, 62;

  --light-blue: #BAD3D9;
  --light-blue-rgb: 186, 211, 217;
  --light-blue-hsl: 192, 29, 79;
  --ash-gray: #a7bec3; // 20% of light-blue
  --ash-gray-rgb: 167, 190, 195;
  --ash-gray-hsl: 191, 19, 71;

  --goldenrod: #D6A509;
  --goldenrod-rgb: 214, 165, 9;
  --goldenrod-hsl: 46, 92, 44;

  --cocoa-brown: #D96704;
  --cocoa-brown-rgb: 217, 103, 4;
  --cocoa-brown-hsl: 28, 96, 43;

  --british-racing-green: #1A402A;
  --british-racing-green-rgb: 26, 64, 42;
  --british-racing-green-hsl: 145, 42, 18;

  --dark-green: #012626;
  --dark-green-rgb: 1, 38, 38;
  --dark-green-hsl: 180, 95, 8;

  --ffffff: #FFFFFF;
  --white: var(--ffffff);
  --white-rgb: 255, 255, 255;

  --text-faint: #aaa;
  --text-muted: #888;
  --text-normal: #333;

  --bg-primary: var(--white);
  --bg-secondary: #f8f8f8;

  --fg-navigation: var(--white);
  --bg-navigation-top: var(--dark-green);
  --bg-navigation-bottom: var(--british-racing-green);

  --fg-nav-submenu: var(--dark-green);
  --bg-nav-submenu: var(--ash-gray);
  --bg-nav-submenu-alt: var(--light-blue);
  --bg-nav-border: rgba(var(--white-rgb), .5);

  --fg-accent-1: var(--white);
  --bg-accent-1: var(--goldenrod);

  --fg-accent-2: var(--text-normal);
  --bg-accent-2: var(--light-blue);

  --link-decoration-color: var(--goldenrod);
  --link-decoration-color-hover: var(--light-blue);

  --bg-shadow: rgba(0, 0, 0, 0.5);

  --border-color: #ccc;

  --table-header-footer-bg: #F5F6F1;
  --table-left-column-bg: #F5F6F1;
  --table-team-votes-bg: var(--light-blue-rgb);
  --table-border-color: var(--border-color);

  --card-border-color: var(--border-color);

  --button-text-color: var(--dark-green);
  --button-bg-color: var(--light-blue);
  --button-bg-color-hover: var(--ash-gray);
  --button-border-color: transparent;

  --button-reset-color: var(--text-normal);
  --button-reset-bg: #ccc;

  --button-disabled-color: #ccc;
  --button-disabled-bg: transparent;

  --input-bg-color: var(--bg-secondary);

  --accent: var(--asparagus);
  --ok: var(--fern-green);
  --required: var(--goldenrod);
  --error: var(--cocoa-brown);

  --callout-note: 27, 99, 141; // Blue #1B638D
  --callout-note-title: var(--callout-note);

  --callout-tip: var(--light-blue-rgb);
  --callout-tip-title: var(--callout-note);

  --callout-success: var(--yellow-green-rgb); // Green
  --callout-success-title: var(--fern-green-rgb); // Green

  --callout-important: 97, 69, 160; // Purple #6145A0
  --callout-important-title: var(--callout-important);

  --callout-warning: 235, 113, 0; // Orange
  --callout-warning-title: var(--callout-warning);

  --callout-caution: 151, 47, 47; // Red #972f2f
  --callout-caution-title: var(--callout-caution);

  --callout-content-color: 255, 255, 255; // White

  background-color: var(--bg-primary);
}

.dark body {
  --bg-primary: #1e1e1e;
  --bg-secondary: #232323;

  --text-normal: #D3D3D3;
  --text-muted: #aaa;
  --text-faint: #888;

  --border-color: #434343;
  --bg-navigation-top: #011212;
  --bg-navigation-bottom: #0f0f0f;
  --fg-navigation: #c8c7c7;

  --table-header-footer-bg: var(--bg-secondary);
  --table-left-column-bg: var(--bg-secondary);
  --table-team-votes-bg: var(--british-racing-green-rgb);

  --ok: var(--asparagus);
  --error: var(--cocoa-brown);

  --callout-tip-title: var(--light-blue-rgb);
  --callout-success-title: var(--yellow-green-rgb);

  --callout-note-title: 70, 165, 220; // Blue #46A5DC
  --callout-important-title: 150, 129, 201; // Purple #9681C9
  --callout-caution-title: 213, 119, 119; // Red #D57777

  --button-reset-bg: #333;

  a {
    color: #c8c7c7;
  }

  a.button {
    color: var(--dark-green);
  }

  main.trademarks {
    li img {
      background-color: #fff;
    }
  }
}