@use 'index' as *;
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body {
  --h1-size: 2em;
  --h2-size: 1.8em;
  --h3-size: 1.6em;
  --h4-size: 1.4em;
  --h5-size: 1.2em;
  --h6-size: 1.2em;

  --font-text-size: 16px;
  --font-small: 0.933em;
  --font-smaller: 0.875em;
  --font-smallest: 0.8em;

  --footnote-size: var(--font-smaller);

  @include figtree-light;
  font-size: var(--font-text-size);
}
h1 {
  @include figtree-regular;
  font-size: var(--h1-size);
}
h2 {
  @include figtree-regular;
  font-size: var(--h2-size);
}
h3 {
  @include figtree-regular;
  font-size: var(--h3-size);
}
h4 {
  @include figtree-medium;
  font-size: var(--h4-size);
}
h5 {
  @include figtree-medium;
  font-size: var(--h5-size);
}
h6 {
  @include figtree-medium;
  font-size: var(--h6-size);
}
