@mixin content-pad {
  padding: var(--height-padding) var(--width-padding);
}

@mixin content-pad-narrow {
  padding: var(--height-padding) calc(var(--width-padding)/2);
}

@mixin content-align {
  padding-left: var(--width-padding);
  padding-right: var(--width-padding);
}

@mixin content-align-with-aside {
  padding-left: var(--width-padding);
  padding-right: 0;
}

@mixin content-align-y {
  padding-top: var(--height-padding);
  padding-bottom: var(--height-padding);
}

@mixin margin-align-y {
  margin-top: var(--height-padding);
  margin-bottom: var(--height-padding);
}

@mixin aside-margin-width {
  --active-width: calc(var(--aside-width) - .5em);
  max-width: var(--active-width);
  min-width: var(--active-width);
  width: var(--active-width);
  margin-right: .5em;
}

@mixin max-width-margin {
  max-width: 800px;
  margin: 0 auto;
}

@mixin figtree-light {
  font-family: 'Figtree', Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

@mixin figtree-regular {
  font-family: 'Figtree', Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@mixin figtree-medium {
  font-family: 'Figtree', Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@mixin figtree-italic {
  font-family: 'Figtree', Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
}

@mixin figtree-bold {
  font-family: 'Figtree', Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}