@use 'index' as *;

article.activity {
  @include content-align-y();
  .card {
    position: relative;
    max-width: 800px;
    margin: 1em auto;
    padding: 1em;
    border: 1px solid var(--card-border-color);
    box-shadow: 0 2px 5px var(--bg-shadow);
  }
  .byline {
    position: relative;
    font-size: 0.9em;
  }
  .avatar {
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5em;
    img {
      width: 24px;
      height: 24px;
      background: var(--white);
    }
  }

  &.vote {
    #articleTitle {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      gap: .2em;
    }

    #articleTitle {
      font-size: var(--font-large); /* Adjust as needed */
      margin-bottom: 0.5em; /* Adjust as needed */
    }

    #articleTitle span {
      font-size: var(--font-smaller); /* Adjust as needed */
      color: var(--text-muted); /* Adjust as needed */
      font-weight: normal;
    }

    a.repo-link {
      font-size: var(--font-small); /* Adjust as needed */
      color: var(--fg-accent); /* Adjust as needed */
      text-decoration: none;
      font-weight: normal;
    }

    a.item-title {
      font-size: var(--font-larger); /* Adjust as needed */
      color: var(--text-normal); /* Adjust as needed */
    }
  }
}

.activityIndex {
  li {
    padding-top: .2em;
    padding-bottom: .5em; // Add space below each list item

    &.archive {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;

      gap: .5em;
      justify-content: start;

      time {
        white-space: nowrap;
      }
      .data {
        word-break: break-word;
        a {
          padding-right: 5px;
        }
      }
    }
    &:not(.archive) {
      display: block;
      a {
        display: flex;
        flex-wrap: nowrap;
        align-items: start;

        gap: .2em;
        justify-content: start;
      }
    }
  }

  time {
    font-family: var(--font-monospace);
    padding: 0 .2em 0 0;
  }
}

table.vote-result {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--table-border-color);

  th,
  td {
    padding: 10px;
    border: 1px solid var(--table-border-color);
    text-align: left;
  }

  thead,
  tfoot {
    background-color: var(--table-header-footer-bg);
  }

  tbody th,
  tbody td:first-child {
    background-color: var(--table-header-footer-bg);
  }

  thead th:nth-child(3),
  tfoot td:nth-child(3),
  tbody td:nth-child(3) {
    background-color: rgba(var(--table-team-votes-bg), 0.2);
  }
}

