article.activity {
  .card {
    position: relative;
    max-width: 500px;
    margin: 1em auto;
    padding: 1em;
    border: 2px solid #ccc;
  }
  .byline {
    position: relative;
  }
  .avatar {
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5em;
    img {
      width: 24px;
      height: 24px;
      background: #fff;
      border-radius: 20px;
      border: 1px solid var(--bg-accent);
    }
  }
}
.activityIndex {
  li {
    padding-top: .2em;
    display: flex;
    align-items: baseline;
    gap: .5em;
    justify-content: start;
  }
  time {
    font-family: monospace;
    padding: 0 .2em 0 0;
  }
}
