@use 'index' as *;

article.bylaws {

  // This is stupid, but it works.
  &.ord1 {
    counter-set: section 1;
  }
  &.ord2 {
    counter-set: section 2;
  }
  &.ord3 {
    counter-set: section 3;
  }
  &.ord4 {
    counter-set: section 4;
  }
  &.ord5 {
    counter-set: section 5;
  }
  &.ord6 {
    counter-set: section 6;
  }
  &.ord7 {
    counter-set: section 7;
  }
  &.ord8 {
    counter-set: section 8;
  }
  &.ord9 {
    counter-set: section 9;
  }
  &.ord {
    h1 {counter-reset: h2}
    h2 {counter-reset: h3}
    h1:before {
      content: counter(section) ". "
    }
    h2:before {
      counter-increment: h2;
      content: counter(section) "." counter(h2) ". "
    }
    h3:before {
      counter-increment: h3;
      content: counter(section) "." counter(h2) "." counter(h3) ". "
    }
  }
  &:not(.ord) {
    h1 {counter-reset: h2}
    h2 {counter-reset: h3}
    h2:before {
      counter-increment: h2;
      content: counter(h2) ". "
    }
    h3:before {
      counter-increment: h3;
      content: counter(h2) "." counter(h3) ". "
    }
  }
  &.draft h1:after {
    content: " Draft";
    color: var(--text-faint);
    font-size: var(--font-smaller);
  }
}

aside.bylaw-contents,
aside.policy-contents {
  @include margin-align-y();
  @include content-align-y();

  a.highlight {
    width: 100%;
    display: inline-block;
  }

  a.highlight::before {
    /* Highlight color */
    background-color: var(--highlight-bg);

    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    top: -2px;
    left: 0;
    z-index: -1;
  }

  ul.top-level {
    padding-left: var(--hang-pad-left);

    > li {
      position: relative;
      text-indent: var(--hang-text-indent);
      padding-bottom: 0;
      padding-top: .5em;
    }
  }

  div.pagenav {
    padding-left: var(--nest-indent);

    ol {
      counter-reset: item;
      padding-left: var(--nest-hang-pad-left);
      list-style-type: none; // Removes the default numbering

      > li {
        position: relative;
        text-indent: var(--nest-hang-text-indent);
        margin: 0; // Reset default margin
        padding-top: .5em;
        padding-bottom: 0;
      }

      ol {
        padding: 0; // Adjust as needed
      }
    }
  }

  .edit {
    font-size: var(--font-smaller);
    h3 {
      font-size: var(--font-size);
      margin-block-start: 0;
      margin-bottom: .5em;
    }
  }

  hr {
    border: none;
    border-top: 1px solid var(--border-color); /* Change color as needed */
    margin: 1em .5em 1em 0 ;
  }
}

aside.bylaw-contents {
  --hang-pad-left: 2em;
  --hang-text-indent: -1em;
  --nest-hang-pad-left: 1.5em;
  --nest-hang-text-indent: -0.5em;
  --nest-indent: .5em;

  a.highlight {
    margin-left: 1em;
  }
  a.highlight::before {
    margin-left: -1em;
  }

  ul.top-level.ordered > li:before {
    content: attr(data-ord) ". ";
    position: absolute;
    left: -1em; // Adjust as needed
  }

  div.pagenav {
    ol > li:before {
      content: attr(data-ord) "." counters(item, ".") " ";
      counter-increment: item;
      position: absolute;
      left: -2.4em; // Adjust as needed
    }
  }
}

aside.policy-contents {
  --hang-pad-left: 0;
  --hang-text-indent: 0;
  --nest-hang-pad-left: 1em;
  --nest-hang-text-indent: -1em;
  --nest-indent: 1.5em;

  display: flex;
  flex-direction: column-reverse;

  a.highlight::before {
    margin-left: var(--hang-text-indent);
  }

  div.pagenav {
    ol > li:before {
      content: counters(item, ".") ". ";
      counter-increment: item;
      position: absolute;
      margin-left: -12px;
    }
  }
}