@use 'index' as *;

article.bylaws {
  h1 {counter-reset: h2}
  h2 {counter-reset: h3}
  h1:before {
    content: var(--ord) ". "
  }
  h2:before {
    counter-increment: h2;
    content: var(--ord) "." counter(h2) ". "
  }
  h3:before {
    counter-increment: h3;
    content: var(--ord) "." counter(h2) "." counter(h3) ". "
  }
}

aside.bylaw-contents,
aside.policy-contents {
  @include margin-align-y();
  @include content-align-y();

  ul.top-level {
    padding-left: var(--hang-pad-left);

    > li {
      position: relative;
      text-indent: var(--hang-text-indent);
      padding-bottom: 0;
      padding-top: .5em;
    }
  }

  div.pagenav {
    padding-left: var(--nest-indent);

    ol {
      counter-reset: item;
      padding-left: var(--nest-hang-pad-left);
      list-style-type: none; // Removes the default numbering

      > li {
        position: relative;
        text-indent: var(--nest-hang-text-indent);
        margin: 0; // Reset default margin
        padding-top: .5em;
        padding-bottom: 0;
      }

      ol {
        padding: 0; // Adjust as needed
      }
    }
  }

  .edit {
    font-size: var(--font-smaller);
    h3 {
      font-size: var(--font-size);
      margin-bottom: .5em;
    }
  }

  hr {
    border: none;
    border-top: 1px solid var(--border-color); /* Change color as needed */
    margin: 1em .5em 1em 0 ;
  }
}

aside.bylaw-contents {
  --hang-pad-left: 2em;
  --hang-text-indent: -1em;
  --nest-hang-pad-left: 1.5em;
  --nest-hang-text-indent: -0.5em;
  --nest-indent: .5em;

  ul.top-level li:before {
    content: attr(data-ord) ". ";
    position: absolute;
    left: -1em; // Adjust as needed
  }

  div.pagenav {
    ol > li:before {
      content: attr(data-ord) "." counters(item, ".") " ";
      counter-increment: item;
      position: absolute;
      left: -2.4em; // Adjust as needed
    }
  }
}

aside.policy-contents {
  --hang-pad-left: 0;
  --hang-text-indent: 0;
  --nest-hang-pad-left: 1em;
  --nest-hang-text-indent: -1em;
  --nest-indent: 1.2em;

  ul.top-level li:before {
    content: '•';
    position: absolute;
    left: -1em;
  }

  div.pagenav {
    ol > li:before {
      content: counters(item, ".") ". ";
      counter-increment: item;
      position: absolute;
      left: -1em;
    }
  }
}