body {
  --steam-animation: steaming 2500ms ease-in-out infinite;
  --steam-height: -20px;
  --steam-start-height: 70px;
  --steam1-delay: 400ms;
  --steam2-delay: 750ms;
  --steam3-delay: 1100ms;
}
.sad-face {
  --steam-height: -40px;
  --steam1-delay: 300ms; // left eye appears first
  --steam2-delay: 400ms; // right eye appears next
  --steam3-delay: 450ms; // frown appears last
  .steam3 {
    --steam-start-height: 20px;
  }
  .steam1,
  .steam2 {
    --steam-start-height: 25px;
  }
}

.coffee-wrapper {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  padding-left: 12px;
}
.cup-outline {
  fill: var(--bg-primary);
}
.cup-fg {
  fill: var(--light-blue);
}
.steam {
  fill: var(--text-faint);
  transform: translateY(var(--steam-start-height));
  animation: var(--steam-animation);
  opacity: 0; // start invisible
}
.steam1 {
  animation-delay: var(--steam1-delay);
}
.steam2 {
  animation-delay: var(--steam2-delay);
}
.steam3 {
  animation-delay: var(--steam3-delay);
}
@keyframes steaming {
  0% {
    transform: translateY(var(--steam-start-height));
    opacity: 0; // start invisible
  }
  50% {
    opacity: 1; // fully visible while moving up
  }
  100% {
    transform: translateY(var(--steam-height));
    opacity: 0; // end invisible
  }
}