@use 'index' as cf;
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body {
  @include cf.figtree-light;
}
h1 {
  @include cf.figtree-regular;
  font-size: 2em;
}
h2 {
  @include cf.figtree-regular;
  font-size: 1.8em;
}
h3 {
  @include cf.figtree-regular;
  font-size: 1.6em;
}
h4 {
  @include cf.figtree-medium;
  font-size: 1.4em;
}
h5 {
  @include cf.figtree-medium;
  font-size: 1.2em;
}
h6 {
  @include cf.figtree-medium;
  font-size: 1.2em;
}
