@mixin content-align {
  padding-left: 1em;
  padding-right: 1em;
}
@mixin content-pad {
  padding: 1em;
}
body {
  display: flex;
  margin: 0;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}
header.site {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  height: 2.5em;
  min-height: 2.5em;
  flex-wrap: wrap;
  @include content-align();
  position: sticky;
  top: 0;
}
main {
  flex: 1 1 auto;
  min-height: calc(100vh - 2.5em - 5em);

  > article,
  > section {
    flex: 2 1 auto;
    @include content-align();
    img {
      max-width: 90%;
    }
  }

  > aside {
    @include content-pad();
    flex: 1 1 auto;
  }

  header.byline {
    float: right;
  }
}
footer.site {
  @include content-pad();
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: .5em;
}
@media(min-width: 500px) {
  main:has(aside) {
    display: flex;
    flex-direction: row;

    > aside {
      min-width: 200px;
    }

    > aside.activity {
      max-width: 300px;
      width: 300px;
      time {
        white-space: nowrap;
      }
    }
  }
}