@use 'index' as cf;

$icon-text-padding: .3em; // Adjust this value as needed
$h-font-size: 18px;
$f-font-size: .8em;

nav ul {
  list-style-type: none; // Removes the bullet points
  margin: 0; // Removes the default margin
  padding: 0; // Removes the default padding
}

nav.index {
  li {
    padding-bottom: .5em;
  }
}

/** Header / footer colors */
header.site {
  color: var(--fg-navigation);
  background-color: var(--bg-navigation-top);

  ul.top-level > li {
    border-color: var(--bg-navigation-top);
    border-style: solid;
    border-width: 0 1px 0 0;
  }
  ul.top-level > li:hover {
    border-image: linear-gradient(var(--bg-navigation-top), var(--bg-navigation-top) 30%, var(--bg-nav-submenu)) 1;
  }
  nav ul.submenu {
    color: var(--fg-nav-submenu);
    background-color: var(--bg-nav-submenu);
    border-right: 1px solid var(--bg-nav-submenu);
    a {
      color: var(--fg-nav-submenu);
    }
  }
  a,
  a:visited,
  .h-site-icon,
  .h-site-more {
    color: var(--fg-navigation);
    text-decoration: none;
  }
}
footer.site {
  color: var(--fg-navigation);
  background-color: var(--bg-navigation-bottom);
  a {
    color: var(--fg-navigation);
  }
}

/** Header spacing and margins, etc. */
header.site {
  --logo-height: 80px;

  @include cf.content-pad();
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;

  font-size: $h-font-size;
  z-index: 5;
  line-height: 1.2;

  .h-site-med,
  .h-site-lrg,
  .h-site-text {
    display: none;
  }

  .h-site-icon svg {
    height: 1.2em;
    width: 1.2em;
  }

  span.logo {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    a > svg{
      margin: 0;
      height: var(--logo-height);
    }
  }
  nav {
    font-size: $h-font-size;

    > ul.top-level {
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
      flex-wrap: nowrap;
      gap: .5em;

      > li {
        display: inline;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        padding: 10px .2em 10px .5em; // make sure the hoverable area is large enough

        a {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
        }
        span.h-site-more {
          padding-top: 5px;
        }
        span.h-site-text {
          @include cf.figtree-bold;
        }
      }
    }

    ul.top-level > li:hover {
      ul.submenu,
      ul.submenu:hover,
      ul.submenu li:hover {
        visibility: visible;
        opacity: 1;
        z-index: 10;
      }
    }

    ul.submenu {
      visibility: hidden;
      opacity: 0;

      position: absolute;
      right: -1px;
      top: 80%;
      border-radius: 0 0 5px 5px;
      box-shadow: 0px 3px 5px -1px  var(--bg-shadow);

      a {
        margin: .2em;
        padding: .5em;
      }
    }
  }
  .h-site-more {
    padding-left: $icon-text-padding;
  }
  .h-site-sub-icon {
    padding-right: $icon-text-padding;
  }
}

footer.site {
  z-index: 5;
  font-size: $f-font-size;
  .footer-copyright {
    flex-basis: 100%;
  }
  ol {
    display: flex;
    flex-direction: row;
  }
  li {
    display: inline;

    &:not(:last-of-type)::after {
      content: "\00a0|\00a0";
    }
  }
}

@media (min-width: 350px) {
  header.site {
    ul.submenu {
      li {
        min-width: 200px;
      }
    }
  }
}
@media (min-width: 550px) {
  header.site {
    .h-site-tiny {
      display: none;
    }
    .h-site-text,
    .h-site-med {
      display: inline;
    }
    .h-site-icon {
      display: none;
    }
  }
}
@media (min-width: 700px) {
  header.site h1 {
    .h-site-med {
      display: none;
    }
    .h-site-lrg {
      display: inline;
    }
  }
}
