@use 'index' as *;

// match in scroll-toggle.js
// --menu-height and --menu-top are also set in scroll-toggle.js
$menu-snap: 650px;

$z-index-footer: 5;
$z-index-navigation: 10;
$z-index-menu-toggle: 15;
$z-index-submenu: 15;

body {
  --icon-text-padding: .3em;
  --h-font-size: 18px;
  --f-font-size: .8em;
}

.no-scroll {
  overflow: hidden;
}

nav ul {
  list-style-type: none; // Removes the bullet points
  margin: 0; // Removes the default margin
  padding: 0; // Removes the default padding
}

nav.index {
  li {
    padding-bottom: .5em;
  }
}

footer.site {
  color: var(--fg-navigation);
  background-color: var(--bg-navigation-bottom);

  z-index: $z-index-footer;
  font-size: var(--f-font-size);
  a {
    color: var(--fg-navigation);
  }
  ul, ol {
    display: flex;
    flex-direction: row;
  }
  li {
    display: inline;
  }
  // ul.footer-links li:not(:last-of-type)::after {
  //   content: "\00a0\00a0";
  // }
  .footer-connect {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: var(--font-size);
    }
    ul {
      gap: .5em;
    }
    svg {
      height: 18px;
    }
  }
  .footer-links {
    flex-wrap: wrap;
    gap: 1em;
  }
}

header.site {
  color: var(--fg-navigation);
  background-color: var(--bg-navigation-top);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;

  font-size: var(--h-font-size);
  z-index: $z-index-navigation;
  line-height: 1.2;

  span.logo {
    a > svg{
      margin: 0;
      height: var(--logo-height);
    }
  }
  nav {
    #menu-toggle {
      display: none;
    }
  }
  ul.submenu {
    color: var(--fg-nav-submenu);
    background-color: var(--bg-nav-submenu);
    border-right: 1px solid var(--bg-nav-submenu);
    a {
      color: var(--fg-nav-submenu);
    }
  }
  a,
  a:visited,
  .h-site-more {
    color: var(--fg-navigation);
    text-decoration: none;
  }
  .h-site-more {
    padding-left: var(--icon-text-padding);
  }
}

// Mobile/small window hamburger menu: see scroll-toggle.js
@media(max-width: $menu-snap) {
  header.site {
    @include content-pad();
    z-index: $z-index-navigation;
    flex-wrap: nowrap;

    nav {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: flex-end;
      overflow: hidden;

      .menu-button-container {
        display: flex;
        height: var(--header-height);
        width: 30px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: $z-index-menu-toggle;

        .menu-button,
        .menu-button::before,
        .menu-button::after {
          background-color: var(--fg-navigation);
          display: block;
          position: absolute;
          height: 4px;
          width: 30px;
          transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
          border-radius: 2px;
        }
        .menu-button::before {
          content: '';
          margin-top: -8px;
        }
        .menu-button::after {
          content: '';
          margin-top: 8px;
        }
      }

      // height and top are set in JavaScript, see scroll-toggle.js,
      // which sets the height to the window height minus the header height
      // and toggles the no-scroll class on the body when the menu is showing
      ul.top-level {
        z-index: $z-index-submenu;
        display: block;
        position: fixed;
        width: 100vw;
        // height: set in scroll-toggle.js
        // top: set in scroll-toggle.js
        top: var(--menu-top);
        height: var(--menu-height);
        right: 0;
        opacity: 0;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out, opacity 0.8s ease-out;
        background-color: var(--bg-nav-submenu);

        > li {
          .entry {
            @include content-pad;
            display: block;
            background-color: var(--bg-nav-submenu);
            a,
            svg {
              color: var(--fg-nav-submenu);
            }
          }

          li {
            background-color: var(--bg-nav-submenu-alt);
            a {
              display: block;
              @include content-pad;
            }
            &:not(:last-child) {
              border-bottom: 1px solid var(--bg-nav-border);
            }
          }
        }
      }

      .theme-toggle {
        padding: .25em .5em;
        color: var(--fg-nav-submenu);
      }
    }

    #menu-toggle:checked {
      + .menu-button-container .menu-button::before {
        margin-top: 0px;
        transform: rotate(405deg);
      }
      + .menu-button-container .menu-button {
        background: rgba(255, 255, 255, 0);
      }
      + .menu-button-container .menu-button::after {
        margin-top: 0px;
        transform: rotate(-405deg);
      }
    }
    #menu-toggle:checked ~ nav {
      z-index: $z-index-submenu;
    }
    #menu-toggle:checked ~ ul.top-level {
      opacity: 1;
      transform: translateX(0);
      transition: transform 0.3s ease-in-out;
      overflow-y: auto;
    }
  }
}
// larger window header menu: see scroll-toggle.js
@media(min-width: $menu-snap) {
  header.site {
    @include content-align();
    position: relative;
    min-height: calc(var(--header-height) + 2*var(--height-padding));

    span.logo {
      display: block;
        @include content-align-y();
        height: var(--header-height);
    }

    nav {
      margin: 0;
      position: relative;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: flex-end;
      align-items: stretch;

      .menu-button-container {
        display: none;
      }

      > ul.top-level {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        gap: .2em;

        > li {
          position: relative;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          padding-right: .2em;
          padding-left: .4em;
          overflow: visible;

          border-color: var(--bg-navigation-top);
          border-style: solid;
          border-width: 0 1px 0 0;

          &:hover {
          //  border-image: linear-gradient(var(--bg-navigation-top), var(--bg-navigation-top) 40%, var(--bg-nav-submenu)) 1; //
          }

          .entry {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            @include figtree-bold;
          }
        }
      }

      ul.top-level > li:hover {
        ul.submenu,
        ul.submenu:hover,
        ul.submenu li:hover {
          visibility: visible;
          opacity: 1;
          z-index: $z-index-submenu;
        }
      }

      ul.submenu {
        visibility: hidden;
        opacity: 0;

        position: absolute;
        right: -1px;
        top: calc(var(--header-height) + 18px);
        border-width: 4px 1px 0 0;
        border-color: var(--bg-navigation-top) var(--bg-nav-submenu) transparent transparent;
        border-radius: 0 0 5px 5px;
        box-shadow: 0px 3px 5px -1px var(--bg-shadow);

        font-size: var(--font-size);

        li {
          min-width: 200px;
          a {
            padding: .5em 1em;
            display: block;
          }
          &:hover {
            background-color: var(--bg-nav-submenu-alt);
            border-radius: 0 0 5px 5px;
          }
        }
      }
    }
  }
}


/* Hide/show the color mode switcher icons */

html #theme-toggle {
  i.icon-sun {
    display: none;
  }
  i.icon-moon {
    display: none;
  }
  i.icon-cog {
    display: inline-block;
  }
}

html[data-stored-theme="light"] #theme-toggle {
  i.icon-sun {
    display: inline-block;
  }
  i.icon-moon {
    display: none;
  }
  i.icon-cog {
    display: none;
  }
}

html[data-stored-theme="dark"] #theme-toggle {
  i.icon-sun {
    display: none;
  }
  i.icon-moon {
    display: inline-block;
  }
  i.icon-cog {
    display: none;
  }
}