@use 'index' as *;

.cards {
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
  margin-top: 2em;

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;

    img {
      width: 25vw;
    }
    .text-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: .5em;

      h3 {
        font-size: var(--font-large);
        @include figtree-medium;
        margin: 0;
        padding: 0;
        text-align: center;
      }
      p {
        margin: 0;
        padding: 0;
      }
    }
  }
}

main.site-main {
  > div.hero {
    background-image: url("/images/hero_mainimage.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: var(--white);

    @include content-align-y;

    section.text {
      @include content-pad;
      @include max-width-margin;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      h1 {
        margin: 0;
        padding: 0;
        @include content-pad();
      }
      .subhead {
        margin: 0;
        padding: 0;
        @include content-pad();
        font-size: var(--font-large);
      }
      p {
        margin: 0;
        padding: 0;
        max-width: calc(70%);
        @include content-pad();
      }
    }
  }
  //
  // NOT HERO
  //
  > div:not(.hero) {
    @include content-align;
    @include max-width-margin;
  }

  hr {
    border: none;
    border-top: 1px solid var(--border-color); /* Change color as needed */
    margin: 3em;
  }

  h2 {
    text-align: center;
  }
  @media(min-width: 450px) {
    h2 {
      text-align: left;
    }
  }

  section:not(.hero) {
    @include content-align;
    @include max-width-margin;
  }

  section:first-of-type {
    margin-top: 1em;
  }
  section:last-of-type {
    margin-bottom: 3em;
  }

  .why {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .image {
      flex: 1;
      order: 3;
      max-width: 30vw;
      img {
        width: 100%;
        height: auto;
      }
    }

    .two-columns {
      -webkit-column-count: 1; /* Chrome, Safari, Opera */
      -moz-column-count: 1;    /* Firefox */
      column-count: 1;
    }

    @media (min-width: 600px) {
      h2 {
        order: 0;
        flex-basis: 100%;
      }
      .text {
        flex: 2;
      }
      .image {
        order: 3;
        flex: 1;
        max-width: 20vw;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    @media (min-width: 700px) {
      .two-columns {
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2;    /* Firefox */
        column-count: 2;
      }
    }
  }

  .what .cards {
    @media (min-width: 500px) and (max-width: 800px) {
      .card {
        flex-direction: row; // Make the image and text be side by side
        justify-content: space-between; // Add some space between the image and text
        img {
          width: 100px;
        }
      }
    }
    @media (min-width: 800px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;

      .card {
        flex: 1 0 calc(33% - 2em); // Take up half the width of the container (minus the gap)
        max-width: calc(33% - 2em); // Limit width to half the container (minus the gap)
        text-wrap: stable;

        img {
          width: 100px;
        }
      }
    }
  }

  .projects .card {
    img {
      max-height: 100px;
      width: auto;
    }
  }
}
img.dark-only {
  display: none;
}
img.light-only {
  display: block;
}
.dark {
  img.dark-only {
    display: block;
  }
  img.light-only {
    display: none;
  }
}

main.about {
  .cards {
    @include content-align-y;

    flex-direction: row;
    flex-wrap: wrap; // Allow the cards to wrap onto multiple lines
    justify-content: space-between; // Distribute cards evenly in the container
    align-items: flex-start; // Align items to the top

    .card {
      width: 300px;
      max-width: 300px;
      flex-direction: row; // Make the image and text be side by side
      align-items: start; // Align items to the top
      gap: 1em; // Add some space between the image and text

      .avatar,
      .avatar-flip {
        min-width: 75px;
        min-height: 75px;
        width: 75px;
        height: 75px;
        position: relative;
      }
      .avatar-flip {
        transition: transform 0.8s;
        transform-style: preserve-3d;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 33%; // This makes the image round
        object-fit: cover; // This ensures the image covers the whole area
      }

      .avatar-front, .avatar-back {
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
      }

      .avatar-back {
        transform: rotateY(180deg);
      }

      &:hover .avatar-flip {
        transform: rotateY(180deg);
      }

      .text-content {
        align-items: flex-start;
      }

      footer {
        font-size: var(--font-small);
      }
    }
  }
}