@use 'index' as *;

main.site-main {
  > div.hero {
    background-image: url("/images/hero_mainimage.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: var(--white);

    @include content-align-y;

    section.text {
      @include content-pad;
      @include max-width-margin;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      h1 {
        margin: 0;
        padding: 0;
        @include content-pad();
      }
      .subhead {
        margin: 0;
        padding: 0;
        @include content-pad();
        font-size: var(--font-large);
      }
      p {
        margin: 0;
        padding: 0;
        max-width: calc(70%);
        @include content-pad();
      }
    }
  }
  //
  // NOT HERO
  //
  > div:not(.hero) {
    @include content-align;
    @include max-width-margin;
  }

  hr {
    border: none;
    border-top: 1px solid var(--card-border-color); /* Change color as needed */
    margin: 3em;
  }

  h2 {
    text-align: center;
  }
  @media(min-width: 450px) {
    h2 {
      text-align: left;
    }
  }

  section:not(.hero) {
    @include content-align;
    @include max-width-margin;
  }

  section:first-of-type {
    margin-top: 1em;
  }
  section:last-of-type {
    margin-bottom: 3em;
  }

  .why {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .image {
      flex: 1;
      order: 3;
      max-width: 30vw;
      img {
        width: 100%;
        height: auto;
      }
    }

    .two-columns {
      -webkit-column-count: 1; /* Chrome, Safari, Opera */
      -moz-column-count: 1;    /* Firefox */
      column-count: 1;
    }

    @media (min-width: 600px) {
      h2 {
        order: 0;
        flex-basis: 100%;
      }
      .text {
        flex: 2;
      }
      .image {
        order: 3;
        flex: 1;
        max-width: 30vw; // Adjust as needed
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    @media (min-width: 700px) {
      .two-columns {
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2;    /* Firefox */
        column-count: 2;
      }
    }
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;
    margin-top: 2em;

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2em;

      img {
        width: 25vw;
        height: 25vw;
      }
      .text-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: .5em;

        h3 {
          font-size: var(--font-large);
          @include figtree-medium;
          margin: 0;
          padding: 0;
          text-align: center;
        }
        p {
          margin: 0;
          padding: 0;
        }
      }
    }
  }

  .projects .card {
    img {
      max-height: 100px;
      width: auto;
    }
  }
}

