@use 'index' as *;
@use 'cards' as *;

main.site-main {
  > div.hero {
    background-image: url("/images/hero_mainimage.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: var(--white);

    @include content-align-y;

    section.text {
      @include content-pad;
      @include max-width-margin;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      h1 {
        margin: 0;
        padding: 0;
        @include content-pad();
      }
      .subhead {
        margin: 0;
        padding: 0;
        @include content-pad();
        font-size: var(--font-large);
      }
      p {
        margin: 0;
        padding: 0;
        max-width: calc(70%);
        @include content-pad();
      }
    }
  }
  //
  // NOT HERO
  //
  > div:not(.hero) {
    @include content-align;
    @include max-width-margin;
  }

  hr {
    border: none;
    border-top: 1px solid var(--border-color); /* Change color as needed */
    margin: 3em;
  }

  h2 {
    text-align: center;
  }
  @media(min-width: 450px) {
    h2 {
      text-align: left;
    }
  }

  section:not(.hero) {
    @include content-align;
    @include max-width-margin;
  }

  section:first-of-type {
    margin-top: 1em;
  }
  section:last-of-type {
    margin-bottom: 3em;
  }

  .why {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .image {
      flex: 1;
      order: 3;
      max-width: 30vw;
      img {
        width: 100%;
        height: auto;
      }
    }

    .two-columns {
      -webkit-column-count: 1; /* Chrome, Safari, Opera */
      -moz-column-count: 1;    /* Firefox */
      column-count: 1;
    }

    @media (min-width: 600px) {
      h2 {
        order: 0;
        flex-basis: 100%;
      }
      .text {
        flex: 2;
      }
      .image {
        order: 3;
        flex: 1;
        max-width: 20vw;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    @media (min-width: 700px) {
      .two-columns {
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2;    /* Firefox */
        column-count: 2;
      }
    }
  }

  .what .cards {
    @media (min-width: 500px) and (max-width: 800px) {
      .card {
        flex-direction: row; // Make the image and text be side by side
        justify-content: space-between; // Add some space between the image and text
        img {
          width: 100px;
        }
      }
    }
    @media (min-width: 800px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;

      .card {
        flex: 1 0 calc(33% - 2em); // Take up half the width of the container (minus the gap)
        max-width: calc(33% - 2em); // Limit width to half the container (minus the gap)
        text-wrap: stable;

        img {
          width: 100px;
        }
      }
    }
  }
}

main.sponsors {
  h2:not(:first-of-type) {
    border-top: 1px solid var(--border-color); /* Change color as needed */
    padding-top: .8em;
  }
  .cards.wide {
    gap: 2em;
  }
}

