@use 'fonts';

body {
  --button-border-radius: 6px;
}


// General links

a {
  color: var(--text-normal);
  text-decoration-line: underline;
  text-decoration-color: var(--link-decoration-color);
}
a:hover {
  text-decoration-color: var(--link-decoration-color-hover);
}
a.header-anchor {
  color: var(--text-normal);
  text-decoration: none;
}

// SVG icons

a.github,
.h-site-more,
.act-status-icon,
.aside-nav-icon {
  color: var(--link-decoration-color);
}
.h-site-more,
.act-status-icon,
.aside-nav-icon {
  min-width: var(--font-smaller);
  svg {
    height: var(--font-smaller);
    width: var(--font-smaller);
  }
}

// Footnotes

.footnotes-sep {
  border-top: 1px solid var(--table-border-color);
  margin: 1em 0;
}

.footnotes {
  font-size: var(--footnote-size);
  color: var(--text-normal);
}

.footnotes-list {
  padding-left: 1.2em;
}

.footnote-item {
  margin-bottom: 1em;
}

.footnote-item p {
  margin-bottom: 0.5em;
}

.footnote-backref {
  text-decoration: none;
  color: var(--fg-accent);
}

a[href^="#fn"] {
  font-weight: normal;
  text-decoration: none;
  color: var(--fg-accent);
  padding-left: 2px;
}
a[href^="#fn"]:hover {
  text-decoration: underline;
}

// Buttons

button {
  font-size: var(--font-text-size);
  padding: 0.5em 1em;
  border: 1px solid var(--button-border-color);
  border-radius: var(--button-border-radius);

  color: var(--button-text-color);
  background-color: var(--button-bg-color);

  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}
button:hover {
  background-color: var(--button-bg-color-hover);
}