name: pr-check

on:
  pull_request:
    branches:
    - main

  workflow_dispatch:

permissions:
  contents: read

env:
  GH_BOT_EMAIL: "41898282+github-actions[bot]@users.noreply.github.com"
  GH_BOT_NAME: "GitHub Action"
  HUGO_VERSION: 0.120.4

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install Hugo CLI
        run: |
          wget -O ${{ runner.temp }}/hugo.deb https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.deb \
          && sudo dpkg -i ${{ runner.temp }}/hugo.deb

      - name: Install Dart Sass
        run: sudo snap install dart-sass

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Git Sumbodule Update
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config user.name ${{ env.GH_BOT_NAME }}
          git config user.email ${{ env.GH_BOT_EMAIL }}

          git pull --recurse-submodules
          git submodule update --init --remote --recursive

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18.5'
          cache-dependency-path: 'site/package-lock.json'
          cache: 'npm'

      - name: NPM Install
        working-directory: ./site
        run: npm ci

      - name: Build with Hugo
        env:
          HUGO_ENVIRONMENT: production
          HUGO_ENV: production
        working-directory: ./site
        run: hugo --minify

